.cell1 {
	width: 50px;
}

.cell2 {
	width: 100px;
}

.consent {
	margin-left: 130px;
}

#center {
	margin-left: 230px;
	margin-top: 10px;
}

.container {
	background-color: #f6f5f5;
	height: 500px;
	margin: 0 auto;
	margin-top: 300px;
	width: 580px;
}

input[type="text"], input[type="password"] {
	border: none;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
}

.inside-container1 {
	background-color: #f6f5f5;
	display: inline-block;
	float: left;
	padding-left: 50px;
	height: 350px;
	width: 250px;
}

.inside-container2 {
	background-color: #f6f5f5;
	display: inline-block;
	float: right;
	height: 350px;
	width: 250px;
}

label {
	background-color:#f6f5f5;
	border: 1px solid #000; 
}

textarea {
	height: 70px;
	margin: 0 auto;
	margin-left: 40px;
	width: 500px;
}