.cell1 {
	width: 50px;
}

.cell2 {
	width: 100px;
}

.container {
	background-color: #f6f5f5;
	margin: 0 auto;
	margin-top: 300px;
	width: 600px;
}

.inside-container1 {
	background-color: #f6f5f5;
	display: inline-block;
	float: left;
	height: 200px;
	width: 300px;
}

.inside-container2 {
	background-color: #f6f5f5;
	display: inline-block;
	float: right;
	height: 200px;
	width: 300px;
}

